body {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(124,125,125, 0.4);
    font-size: 1.5rem;
}

body > header {
    background-color: rgba(150,150,150, 0.7)
}

h1 {
    display: inline-block;
}

.sectionHeader {
    font-size: 2rem;
    font-weight: 600;
}

#myFoto {
    width: 10vw;
    height: auto;
    display: inline-block;
}

#mainHeader {
    font-size: 1.5rem;
}

#motivation {
    font-weight: 600;
}
#toright {
    margin-left: 6vw;
}